@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary bg-lightGrey text-dark dark:bg-dark dark:text-light;
  }
  .wrapper {
    @apply container mx-auto;
  }
  .section {
    @apply py-8 lg:py-16;
  }
  /* lock body scroll */
  .lock {
    @apply overflow-hidden;
  }
  .heroTitle {
    @apply text-3xl lg:text-6xl xl:text-9xl text-secondary font-semibold;
  }
  .pretitle {
    @apply uppercase font-semibold text-secondary text-[9px] lg:text-xs;
  }
  .title {
    @apply font-primary font-semibold text-sm lg:text-xl xl:text-3xl dark:text-light;
  }
  .subTitle {
    @apply font-primary font-semibold text-sm lg:text-lg xl:text-2xl;
  }
  .sidebarTitle {
    @apply font-medium text-sm lg:text-base xl:text-lg;
  }
  .articleHover {
    @apply decoration-[1.2px] group-hover:underline group-hover:underline-offset-8;
  }
  .articleText {
    @apply text-dark/70 dark:text-light/70 text-xs lg:text-base;
  }
  .sectionTitle {
    @apply text-dark/80 text-sm lg:text-2xl xl:text-4xl hover:underline hover:underline-offset-8 decoration-[1.2px] w-max self-center;
  }
  .tag {
    @apply text-secondary bg-secondary/30 dark:bg-secondary/10 text-[10px] xl:text-xs px-2 py-1 rounded-sm;
  }
  .animation {
    @apply transition-all duration-300;
  }
  .footerLink {
    @apply hover:underline hover:underline-offset-4 hover:text-dark dark:hover:text-light animation w-fit;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

html.light ::-webkit-scrollbar-thumb {
  background-color: #444444;
}

html.light ::-webkit-scrollbar-track {
  background-color: #ededed;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #444444;
}

html.dark ::-webkit-scrollbar-track {
  background-color: #171717;
}

/* navbar link hover effect */
/* .navLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: #EE6C4D;
  transition: transform 0.3s;
}

.navLink:hover::after {
  transform: scaleX(1);
} */

/* swiper autoplay progress bar */
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #219be4;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #219be4;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* .textShadow {
 text-shadow: rgb(0, 51, 161) 1px 0px 0px, rgb(0, 51, 161) 0.540302px 0.841471px 0px, rgb(0, 51, 161) -0.416147px 0.909297px 0px, rgb(0, 51, 161) -0.989992px 0.14112px 0px, rgb(0, 51, 161) -0.653644px -0.756802px 0px, rgb(0, 51, 161) 0.283662px -0.958924px 0px, rgb(0, 51, 161) 0.96017px -0.279415px 0px;
} */
