@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary bg-lightGrey text-dark dark:bg-dark dark:text-light;
  }
  .wrapper {
    @apply container mx-auto;
  }
  .section {
    @apply py-8 lg:py-16;
  }
  /* lock body scroll */
  .lock {
    @apply overflow-hidden;
  }
  .heroTitle {
    @apply text-4xl lg:text-6xl xl:text-9xl text-light font-semibold;
  }
  .heroSubTitle {
    @apply text-light text-lg lg:text-xl xl:text-3xl text-center w-2/3 md:w-1/2 xl:w-1/4 leading-tight;
  }
  .btn {
    @apply bg-accent text-dark w-fit py-3 px-8 text-sm lg:text-lg xl:text-xl mt-1 tracking-wider rounded-sm;
  }
  .pretitle {
    @apply uppercase font-semibold text-secondary text-[9px] lg:text-xs;
  }
  .title {
    @apply font-primary font-semibold text-base lg:text-xl xl:text-3xl dark:text-light;
  }
  .subTitle {
    @apply font-primary font-semibold text-base lg:text-lg xl:text-2xl;
  }
  .sidebarTitle {
    @apply font-medium text-sm lg:text-base xl:text-lg;
  }
  .articleHover {
    @apply decoration-[1.2px] group-hover:underline group-hover:underline-offset-8;
  }
  .articleText {
    @apply text-dark/70 dark:text-light/70 text-sm lg:text-base;
  }
  .sectionTitle {
    @apply text-dark/80 text-lg lg:text-2xl xl:text-4xl hover:underline hover:underline-offset-8 decoration-[1.2px] w-max self-center;
  }
  .pageQuote {
    @apply text-dark/80 text-lg lg:text-2xl xl:text-4xl dark:text-light;
  }
  .tag {
    @apply text-secondary bg-secondary/30 dark:bg-secondary/10 text-[10px] xl:text-xs px-2 py-1 rounded-sm;
  }
  .animation {
    @apply transition-all duration-300;
  }
  .footerLink {
    @apply hover:underline hover:underline-offset-4 hover:text-dark dark:hover:text-light animation w-fit;
  }
  .switcherIcon {
    @apply text-base;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

html.light ::-webkit-scrollbar-thumb {
  background-color: #444444;
}

html.light ::-webkit-scrollbar-track {
  background-color: #ededed;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #444444;
}

html.dark ::-webkit-scrollbar-track {
  background-color: #171717;
}

/* swiper autoplay progress bar */
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #ffb703;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 3px;
  stroke: #ffb703;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
